<app-navbar></app-navbar>

<section class="section">
    <div class="container">
      <div class="row">
        <div class="padding col-lg-10 offset-lg-1 mt-2">
          <h1 class="pt-5">Welcome {{ userInfo[0].name }}!</h1> <!-- should repalce (Name) with actual Name -->
          <h3 class="pt-2">Information</h3>
          <div class="schedule-table filtering">
            <table class="shadow-lg p-3 mb-5 bg-white rounded">
              <thead>
                <th class="ts-item show">Age</th>
                <th class="ts-item show">Weight (Kg)</th>
                <th class="ts-item show">Height (CM)</th>
                <th class="ts-item show">Gender</th>
                <th class="ts-item show">BMI</th>
                <th class="ts-item show">Plan</th>
                <th class="ts-item show">Your Class</th>
                <th class="ts-item show">Coach Name</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of userInfo">
                  <td class="day-time">{{ item?.age }}</td>
                  <td class="ts-item show">{{ item?.weight }}</td>
                  <td class="ts-item show">{{ item?.height }}</td>
                  <td>{{ item?.gender }}</td>
                  <td>{{ item?.bmi }}</td>
                  <td>{{ item?.plan }}</td>
                  <td>{{item?.class}}</td>
                  <td>{{item?.coach}}</td>
                </tr>
              </tbody>
            </table>
            <h3 class="pt-4">Diet Plan</h3>
            <table class="shadow-lg p-3 mb-5 bg-white rounded">
              <thead>
                <th class="ts-item show">Meal</th>
                <th class="ts-item show">Description</th>
              </thead>
              <tbody>
                <tr *ngFor="let dietItem of userInfo[0]?.diet">
                  <td>{{ dietItem?.meal }}</td>
                  <td>{{ dietItem?.description }}

                    <img *ngIf="dietItem?.meal == 'Breakfast'" width="75" height="75" src="https://e7.pngegg.com/pngimages/840/327/png-clipart-fried-egg-fried-egg-thumbnail.png" alt="Egg image" >
                    <img *ngIf="dietItem?.meal == 'Breakfast'" width="75" height="75" src="https://img.freepik.com/premium-photo/red-apples-isolated-white-background-ripe-fresh-apples-clipping-path-apple-with-leaf_299651-595.jpg" alt="Apple image" >
                    
                    <img *ngIf="dietItem?.meal == 'Lunch'" width="75" height="75" src="https://img.freepik.com/premium-psd/grilled-chicken-fillet-isolated-plate-with-transparent-background_812337-807.jpg" alt="Lunch image" >
                    <img *ngIf="dietItem?.meal == 'Lunch'" width="75" height="75" src="https://e7.pngegg.com/pngimages/233/175/png-clipart-broccoli-vegetables-illustration-broccoli-brussels-sprout-capitata-group-vegetable-cauliflower-broccoli-leaf-vegetable-food-thumbnail.png" alt="Brookly image" >
                    
                    <img *ngIf="dietItem?.meal == 'Dinner'" width="75" height="75" src="https://www.freepnglogos.com/uploads/corn-png/corn-the-best-mexican-fresh-produce-for-global-exports-5.png" alt="Corn image" >
                    <img *ngIf="dietItem?.meal == 'Dinner'" width="75" height="75" src="https://w7.pngwing.com/pngs/845/204/png-transparent-raw-meat-thunnus-pizza-food-canned-fish-fish-market-tuna-seafood-beef-recipe.png" alt="Tona image" >

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  