




<section>

    <div class="section-header">
        <div class="container">
            <h2>Contact Us</h2>
            <p>If you've got any questions, please fill out the short form below to drop us an email and we promise
                to get back to you in lightening speed.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="contact-info">
                <div class="contact-info-item">
                    <div class="contact-info-icon">

                        <img width="45" height="45"
                            src="https://cdn.discordapp.com/attachments/701995250008195132/1112498165006995556/adress.png"
                            class="fas fa-envelope">

                    </div>

                    <div class="contact-info-content">
                        <h4>Address</h4>
                        <p>Tla Al Ali st.Amman<br /> 11821,Jordan</p>
                    </div>
                </div>

                <div class="contact-info-item">
                    <div class="contact-info-icon">
                        <img width="45" height="45"
                            src="https://cdn.discordapp.com/attachments/701995250008195132/1112498164491112468/phone.png"
                            class="fas fa-envelope">
                    </div>

                    <div class="contact-info-content">
                        <h4>Phone</h4>
                        <p>+962792368_519</p>
                        <p>0677711</p>
                    </div>
                </div>

                <div class="contact-info-item">
                    <div class="contact-info-icon">
                        <img width="45" height="45"
                            src="https://cdn.discordapp.com/attachments/701995250008195132/1112498164113608744/home.png"
                            class="fas fa-envelope">
                    </div>

                    <div class="contact-info-content">
                        <h4>Email</h4>
                        <p>Services@Fitness+.com</p>
                        <p>info@Fitness+.com</p>
                    </div>
                </div>
            </div>

            <div class="contact-form">
                <form>
                    <h2>Send Message</h2>

                    <div class="input-box">
                        <label>Full Name</label>
                        <input type="text" required name="fullName" [(ngModel)]="fullName">

                    </div>

                    <div class="input-box">
                        <label>Email</label>
                        <input type="email" required name="email" [(ngModel)]="email">

                    </div>

                    <div class="input-box">
                        <label>Message</label>
                        <textarea required name="message" [(ngModel)]="message"></textarea>

                    </div>

                    <div class="input-box">
                        <input (click)="onSubmit()" type="submit" style="padding-bottom: 45px;" value="Send">
                    </div>
                </form>
            </div>


        </div>
    </div>
</section>