<h1>Calculate your <em>BMI</em></h1>
<form class="c-bmi">
    <label class="c-bmi__label"><strong>Height</strong>
      <input class="c-bmi__range" type="range" name="h" min="150" max="230" step="0.5" value="180" />
      <output name="ho"></output>
    </label>
  
    <label class="c-bmi__label"><strong>Weight</strong>
      <input class="c-bmi__range" type="range" name="w" min="35" max="200" step="0.1" value="75" />
      <output name="wo">75</output>
    </label>
    <div class="c-bmi__result">Your BMI Is: <output name="r"></output></div>
    <div class="c-bmi__groups">
      <input type="radio" id="bmi-g0" name="g" />
      <label for="bmi-g0">Underweight</label>
      <div class="c-bmi__group-text">The WHO regards a BMI of less than 18.5 as underweight and may indicate malnutrition, an eating disorder, or other health problems.</div>
      <input type="radio" id="bmi-g1" name="g" checked />
      <label for="bmi-g1">Normal</label>
      <div class="c-bmi__group-text">A BMI between 18.5 and 25 is considered normal and healthy. </div>
      <input type="radio" id="bmi-g2" name="g" />
      <label for="bmi-g2">Pre-obesity</label>
      <div class="c-bmi__group-text">People who fall into this category may be at risk of developing obesity.<br />This was earlier classified as "overweight".</div>
      <input type="radio" id="bmi-g3" name="g" />
      <label for="bmi-g3">Obese I</label>
      <div class="c-bmi__group-text">People who have BMI equal or over 30 may have obesity, which is defined as an abnormal or excessive accumulation of fat that may harm health.</div>
      <input type="radio" id="bmi-g4" name="g" />
      <label for="bmi-g4">Obese II</label>
      <div class="c-bmi__group-text">People who have BMI equal or over 30 may have obesity, which is defined as an abnormal or excessive accumulation of fat that may harm health.</div>
      <input type="radio" id="bmi-g5" name="g" />
      <label for="bmi-g5">Obese III</label>
      <div class="c-bmi__group-text">People who have BMI equal or over 30 may have obesity, which is defined as an abnormal or excessive accumulation of fat that may harm health.</div>
    </div>
    </form>
   

    