<div class="card col-12 mt-2">
    <div class="card-header">
      <h4 class="card-title">
        أهلا بك،<span class="fs-2 fw-bolder">
          {{ firstName }} {{ lastName }}</span
        >
      </h4>
      <div class="d-flex align-items-center"></div>
    </div>

    <img
      style="width: 250px"
      class="dashboardBackground"
      src="../../../app-assets/images/illustration/illustration-dashboard.png"
    />
  </div>
  <div class="row match-height" >
    <div class="col-lg-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-header flex-column align-items-start pb-0">
          <div class="avatar bg-light-primary p-50 m-0">
            <div class="avatar-content">
              <i-feather name="activity"></i-feather>
            </div>
          </div>
          <h2 class="fw-bolder mt-1">
            <!-- {{dashboardStatistics.totalRequestsCount}} -->
          </h2>
          <p class="card-text p-50"> المعاملات</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-header flex-column align-items-start pb-0">
          <div class="avatar bg-light-primary p-50 m-0">
            <div class="avatar-content">
              <i-feather name="archive"></i-feather>
            </div>
          </div>
          <h2 class="fw-bolder mt-1">
            <!-- {{dashboardStatistics.totalReportRequestsCount}} -->
          </h2>
          <p class="card-text p-50"> الافادات</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-header flex-column align-items-start pb-0">
          <div class="avatar bg-light-primary p-50 m-0">
            <div class="avatar-content">
              <i-feather name="calendar"></i-feather>
            </div>
          </div>
          <h2 class="fw-bolder mt-1">
            <!-- {{dashboardStatistics.totalAppointmentsCount}} -->
          </h2>
          <p class="card-text  p-50"> المواعيد</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-header flex-column align-items-start pb-0">
          <div class="avatar bg-light-primary p-50 m-0">
            <div class="avatar-content">
              <i-feather name="book"></i-feather>
            </div>
          </div>
          <h2 class="fw-bolder mt-1">
            <!-- {{dashboardStatistics.totalRecommendationsCount}} -->
          </h2>
          <p class="card-text p-50"> التوصيات</p>
        </div>
      </div>
    </div>
  </div>
  