<header>
  <div class="logo">Admin<span>Dashboard</span></div>
</header>
<div class="nav-btn">Menu</div>
<div class="container">
  
  <div class="sidebar">
    <nav>
      <a routerLink="/admin-dashboard">Admin<span>Dashboard</span></a>
      <ul>
        <li 
        [ngClass]="{'active': isActiveDashBoard==1}"
        (click)="openSideBarItem(1)"
        >
          <a >Dashboard</a></li>
        <li 
        [ngClass]="{'active': isActiveDashBoard==2}"
        (click)="openSideBarItem(2)"
        >
          <a >Contacting Messages</a></li>
        <!-- <li 
        [ngClass]="{'active': isActiveDashBoard==3}"
        (click)="openSideBarItem(3)"
        >
          <a >Edit Profile</a></li> -->
      </ul>
    </nav>
  </div>

  <div class="main-content">
    <h1>Dashboard</h1>
    <p>Here you can see all your statistical data!</p>
    <app-dashboard *ngIf="isActiveDashBoard == 1"></app-dashboard>
    <app-contact-us *ngIf="isActiveDashBoard == 2"></app-contact-us>
    <app-admin-profile *ngIf="isActiveDashBoard == 3"></app-admin-profile>
  </div>
</div>

