<!-- <div class="panel-wrapper">
    <div class="panel-head">
      contact us
    </div>
    <div class="panel-body">
      none
    </div>
  </div> -->

  <div class="card">
    <table class="table">
      <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Message</th>
            <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let message of messages">
          <td>{{ message.fullName}}</td>
          <td>{{ message.email}}</td>
          <td>{{ message.message}}</td>
  
        </tr>
        <tr class="center" *ngIf="messages.length <=0">
          <td colspan="3">No Data</td>
        </tr>
      </tbody>
    </table>
    <hr />
    <!-- <app-pagination [totalPagesNumber]="messages.totalCount" [totalPages]="messages.totalPages" [page]="pageNumber"
      (pageChangeEmitter)="handlePageChange($event)">
    </app-pagination> -->
  </div>