<div class="main-banner" id="top">
    <video onloadedmetadata="this.muted = true" autoplay muted loop id="bg-video">
        <source [src]="'../assets/images/gym-video.mp4'" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="caption">
            <h6>work harder, get stronger</h6>
            <h2>easy with our <em>gym</em></h2>
            <div class="main-button scroll-to-section">
                <a routerLink="/register">Become a member</a>
            </div>
        </div>
    </div>
</div>

<app-bmi-cal></app-bmi-cal>
<!-- ***** Features Item End ***** -->

<!-- ***** Call to Action Start ***** -->
<section class="section" id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content">
                    <h2>Don’t <em>think</em>, begin <em>today</em>!</h2>

                    <div class="main-button scroll-to-section">
                        <a routerLink="/register">Become a member</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Call to Action End ***** -->

<!-- ***** Our Classes Start ***** -->
<section class="section" id="our-classes">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>Our <em>Classes</em></h2>
                    <img src="assets/images/line-dec.png" alt="">

                </div>
            </div>
        </div>
        <div class="row" id="tabs">
            <div class="col-lg-4">
                <ul>
                    <li><a href='#tabs-1'><img src="assets/images/tabs-first-icon.png" alt="">BodyPump</a>
                    </li>
                    <li><a href='#tabs-2'><img src="assets/images/tabs-first-icon.png" alt="">BodyCombat</a>
                    </li>
                    <li><a href='#tabs-3'><img src="assets/images/tabs-first-icon.png" alt="">BodyBalance</a>
                    </li>
                    <li><a href='#tabs-4'><img src="assets/images/tabs-first-icon.png" alt="">BodyAttack</a>
                    </li>
                    <div class="main-rounded-button" style="cursor: pointer;"><a (click)="scrollToElement()">View All
                            Schedules</a></div>
                </ul>
            </div>
            <div class="col-lg-8">
                <section class='tabs-content'>
                    <article id='tabs-1'>
                        <img src="assets/images/bodypump.jpg" alt="First Class">
                        <h4>BodyPump</h4>
                        <p>BODYPUMP, a total body workout that will burn calories, shape and tone your entire body,
                            increase core strength and improve bone health.</p>
                        <div class="main-button">
                            <button (click)="scrollToBottom('BodyPump')" type="button" class="btn btn-danger">Book
                                Class</button>
                        </div>
                    </article>
                    <article id='tabs-2'>
                        <img src="assets/images/bodycombat.jpg" alt="Second Training">
                        <h4>BodyCombat</h4>
                        <p>Step into a BODYCOMBAT workout and you’ll punch and kick your way to fitness, burning up to
                            570 calories** along the way. This high-energy martial-arts inspired workout is totally
                            non-contact and there are no complex moves to master.</p>
                        <div class="main-button">
                            <button (click)="scrollToBottom('BodyCombat')" type="button" class="btn btn-danger">Book
                                Class</button>
                        </div>
                    </article>
                    <article id='tabs-3'>
                        <img src="assets/images/bodybalance.jpg" alt="Third Class">
                        <h4>BodyBalance</h4>
                        <p>Ideal for anyone and everyone, BODYBALANCE™ is a new generation yoga class that will improve
                            your mind, your body and your life.
                            You can expect to bend and stretch through a series of simple yoga moves, elements of Tai
                            Chi and Pilates while an inspiring soundtrack plays in the background. Breathing control is
                            a part of all the exercises, and instructors will always provide options for those just
                            getting started.
                        </p>
                        <div class="main-button">
                            <button (click)="scrollToBottom('BodyBalance')" type="button" class="btn btn-danger">Book
                                Class</button>
                        </div>
                    </article>
                    <article id='tabs-4'>
                        <img src="assets/images/bodyattack.jpg" alt="Fourth Training">
                        <h4>BodyAttack</h4>
                        <p>BODYATTACK™ is a high-energy fitness class with moves that cater for total beginners to total
                            addicts. We combine athletic movements like running, lunging and jumping with strength
                            exercises such as push-ups and squats. A LES MILLS™ instructor will pump out energizing
                            tunes and lead you through the workout – challenging your limits in a good way, burning up
                            to 555 calories** and leaving you with a sense of achievement.</p>
                        <div class="main-button">
                            <button (click)="scrollToBottom('BodyAttack')" type="button" class="btn btn-danger">Book
                                Class</button>
                        </div>
                    </article>
                </section>
            </div>
        </div>
    </div>
</section>
<!-- ***** Our Classes End ***** -->

<section class="section" id="schedule" #schedule>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading dark-bg">
                    <h2>Classes <em>Schedule</em></h2>
                    <img src="assets/images/line-dec.png" alt="">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="filters">
                    <ul class="schedule-filter">
                        <li [ngClass]="{'active': activeDay=='monday'}" (click)="onDateChange('monday')">Monday</li>
                        <li [ngClass]="{'active': activeDay=='tuesday'}" (click)="onDateChange('tuesday')">Tuesday</li>
                        <li [ngClass]="{'active': activeDay=='wednesday'}" (click)="onDateChange('wednesday')">Wednesday
                        </li>
                        <li [ngClass]="{'active': activeDay=='thursday'}" (click)="onDateChange('thursday')">Thursday
                        </li>
                        <li [ngClass]="{'active': activeDay=='friday'}" (click)="onDateChange('friday')">Friday</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1">
                <div class="schedule-table filtering">
                    <table>
                        <tbody>
                            <tr *ngFor="let item of times[activeDay]">
                                <td class="day-time">{{item?.name}}</td>
                                <td class=" ts-item show">{{item?.fromTime}}</td>
                                <td class=" ts-item show">{{item?.toTime}}</td>
                                <td>{{item?.tranie}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- ***** Testimonials Starts ***** -->
<section class="section" id="trainers">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>Expert <em>Trainers</em></h2>
                    <img src="assets/images/line-dec.png" alt="">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="trainer-item">
                    <div class="image-thumb">
                        <img src="assets/images/first-trainer.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <span>Strength Trainer</span>
                        <h4>Bret D. Bowers</h4>
                        <p>Bitters cliche tattooed 8-bit distillery mustache. Keytar succulents gluten-free vegan
                            church-key pour-over seitan flannel.</p>
                        <button *ngIf="!showTimes || coachName != 'Bret D. Bowers'" (click)="showForm('Bret D. Bowers')"
                            type="button" class="btn btn-secondary"> Show Details</button>
                        <button *ngIf="showTimes && coachName == 'Bret D. Bowers'" (click)="showForm('Bret D. Bowers')"
                            type="button" class="btn btn-secondary"> Hide Details</button>
                        <div style="padding-block: 16px;" *ngIf="showTimes && coachName == 'Bret D. Bowers'">
                            <label for="bookingTime">Select a time:</label>
                            <div class="radio-group" style="padding-block: 16px;">
                                <label style="margin-right: 12px;">
                                    <input type="radio" name="bookingTime" value="7AM - 10AM" [(ngModel)]="selectedTime">
                                    7AM - 10AM
                                </label>
                                <label style="margin-right: 12px;">
                                    <input type="radio" name="bookingTime" value="12PM - 3PM" [(ngModel)]="selectedTime">
                                    12PM - 3PM
                                </label>
                                <label style="margin-right: 12px;">
                                    <input type="radio" name="bookingTime" value="5PM - 10PM" [(ngModel)]="selectedTime">
                                    5PM - 10PM
                                </label>
                            </div>
                            <button (click)="onSubmit(selectedTime)" class="btn btn-danger">Book now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="trainer-item">
                    <div class="image-thumb">
                        <img src="assets/images/second-trainer.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <span>Muscle Trainer</span>
                        <h4>Hector T. Daigl</h4>
                        <p>Bitters cliche tattooed 8-bit distillery mustache. Keytar succulents gluten-free vegan
                            church-key pour-over seitan flannel.</p>

                        <button *ngIf="!showTimes || coachName != 'Hector T. Daigl'"
                            (click)="showForm('Hector T. Daigl')" type="button" class="btn btn-secondary"> Show
                            Details</button>
                        <button *ngIf="showTimes && coachName == 'Hector T. Daigl'"
                            (click)="showForm('Hector T. Daigl')" type="button" class="btn btn-secondary"> Hide
                            Details</button>
                    </div>
                    <div style="padding-block: 16px;" *ngIf="showTimes && coachName == 'Hector T. Daigl'">
                        <label for="bookingTime">Select a time:</label>
                        <div class="radio-group" style="padding-block: 16px;">
                            <label style="margin-right: 12px;">
                                <input type="radio" name="bookingTime" value="7AM - 10AM" [(ngModel)]="selectedTime">
                                7AM - 10AM
                            </label>
                            <label style="margin-right: 12px;">
                                <input type="radio" name="bookingTime" value="12PM - 3PM" [(ngModel)]="selectedTime">
                                12PM - 3PM
                            </label>
                            <label style="margin-right: 12px;">
                                <input type="radio" name="bookingTime" value="5PM - 10PM" [(ngModel)]="selectedTime">
                                5PM - 10PM
                            </label>
                        </div>
                        <button (click)="onSubmit(selectedTime)" class="btn btn-danger">Book now</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="trainer-item">
                    <div class="image-thumb">
                        <img src="assets/images/third-trainer.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <span>Power Trainer</span>
                        <h4>Paul D. Newman</h4>
                        <p>Bitters cliche tattooed 8-bit distillery mustache. Keytar succulents gluten-free vegan
                            church-key pour-over seitan flannel.</p>
                        <button *ngIf="!showTimes || coachName != 'Paul D. Newman'" (click)="showForm('Paul D. Newman')"
                            type="button" class="btn btn-secondary"> Show Details</button>
                        <button *ngIf="showTimes && coachName == 'Paul D. Newman'" (click)="showForm('Paul D. Newman')"
                            type="button" class="btn btn-secondary"> Hide Details</button>
                        <div style="padding-block: 16px;" *ngIf="showTimes && coachName == 'Paul D. Newman'">
                            <label for="bookingTime">Select a time:</label>
                            <div class="radio-group" style="padding-block: 16px;">
                                <label style="margin-right: 12px;">
                                    <input type="radio" name="bookingTime" value="7AM - 10AM" [(ngModel)]="selectedTime">
                                    7AM - 10AM
                                </label>
                                <label style="margin-right: 12px;">
                                    <input type="radio" name="bookingTime" value="12PM - 3PM" [(ngModel)]="selectedTime">
                                    12PM - 3PM
                                </label>
                                <label style="margin-right: 12px;">
                                    <input type="radio" name="bookingTime" value="5PM - 10PM" [(ngModel)]="selectedTime">
                                    5PM - 10PM
                                </label>
                            </div>
                            <button (click)="onSubmit(selectedTime)" class="btn btn-danger">Book now</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="paymentOpen" class="col-lg-6 offset-lg-3">
            <div class="section-heading">
                <h3>Book {{this.coachName}}</h3>
                <app-paypal [value]="9.99" [currency]="'EUR'" [coachName]="coachName + ' ' + selectedTime"></app-paypal>

            </div>
        </div>

    </div>
</section>