<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; 2023 Jassa Studio
                
                - Designed by <a rel="nofollow" href="https://therichpost.com" class="tm-text-link" target="_parent">therichpost</a><br>

            Distributed by <a rel="nofollow" href="https://therichpost.com" class="tm-text-link" target="_blank">therichpost</a>
            
            </p>
                
               
                
            </div>
        </div>
    </div>
</footer>