<!-- <div class="panel-wrapper">
    <div class="panel-head">
      Profile
    </div>
    <div class="panel-body">
      none u fucker
    </div>
  </div> -->


  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div>
      <label for="height">First Name:</label>
      <input type="number" id="first" name="first" [(ngModel)]="user.first_name" required>
    </div>
    <div>
      <label for="weight">Last Name:</label>
      <input type="number" id="last" name="last" [(ngModel)]="user.last_name" required>
    </div>
    <div>
      <label for="age">Age:</label>
      <input type="number" id="age" name="age" [(ngModel)]="user.age" required>
    </div>
    <div>
      <label for="age">Email:</label>
      <input type="text" id="email" name="email" [(ngModel)]="user.email" required>
    </div>
    <div>
      <label for="age">Pasword:</label>
      <input type="text" id="password" name="password" [(ngModel)]="user.password" required>
    </div>
    <div>
      <label for="age">Confirm Pasword:</label>
      <input type="text" id="confirm" name="confirm" [(ngModel)]="user.confirmPassword" required>
    </div>
    
    <button type="submit" [disabled]="!userForm.valid">Submit</button>
  </form>
  