<html lang="en">
<app-navbar></app-navbar>
<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</header>
<body>
    <div class="about-section">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
                Fitness+ was founded in 2001 and can be used to accomplish any goal, from improved health to better performance. Fitness+ is so effective it may feel like magic, but in truth, it’s a formula — a formula that works. It’s the formula for everything we do, from forging elite fitness to preventing and reversing chronic disease. It’s the inputs that give us the outcomes, the results that have revolutionized an industry and changed millions of lives for the better.
            </p>
            
        </div>
    </div>
</body>
<app-footer></app-footer>
</html>