<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Fitness+</a>
    <button class="navbar-toggler" type="button" (click)="toggleMenu()"
      [attr.aria-expanded]="isMenuOpen ? 'true' : 'false'" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': isMenuOpen }">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="isLoggedIn" class="nav-item">
          <a routerLink="/user-dashboard" class="nav-link {{ getRoute('/login') ? 'active' : '' }}">Profile</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contact-us" class="nav-link {{ getRoute('/contact-us') ? 'active' : '' }}">Contact Us</a>
        </li>
        <li class="nav-item">
          <a routerLink="/about-us" class="nav-link {{ getRoute('/about-us') ? 'active' : '' }}">about</a>
        </li>
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a routerLink="/login" class="nav-link {{ getRoute('/login') ? 'active' : '' }}">Login</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a (click)="logoutUser()" routerLink="/" class="nav-link {{ getRoute('/login') ? 'active' : '' }}">Logout</a>
        </li>
      </ul>
      <div *ngIf="isLoggedIn">
        Hi {{ name }}
      </div>
    </div>
  </div>
</nav>